# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# Temporary uploads
temp_videos/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Logs
*.log

# Model files
*.pth
*.pt
backend/best_model.pth